<div class="autocomplete__wrapper" data-autocompletemodule>
    <form id="searchform" action="">
        <label for="autocomplete">Suche: </label>
        <input id="autocomplete" type="text" autocomplete="off" name="search" value="" placeholder="Search...">
        <input type="submit" value="Go">
    </form>
    <ul class="autocomplete__dialog" data-autocompletedialog></ul>
</div>