<div class="faq" data-faqmodule>
    <div class="faq__categories" data-categories></div>
    <div class="faq__content-wrapper">
        <h2>Allgemein</h2>
        <div class="faq__search" data-searchresult>
            {{> searchcontainer}}
        </div>
        <div class="faq__content" data-content></div>
    </div>
</div>