<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />

    <link rel="stylesheet" href="css/styles.css">

    <script src="libs/jquery/jquery-3.2.1.min.js"></script>
    <script src="data/daten.js"></script>

    <script src="js/init.js"></script>
    <script src="js/faqapp/faqComponent.js"></script>
    <script src="js/faqapp/faqAutocomplete.js"></script>
    <script src="js/faqapp/faqSearch.js"></script>

</head>
<body>
    {{>body}}
</body>
</html>