$color-black: rgba(0, 0, 0, 1);
$color-highlightblue: rgba(18, 102, 191, 1);
$color-darkblue: rgba(19, 107, 200, 1);
$color-mediumblue: rgba(157, 206, 252, 1);
$color-lightblue: rgba(233, 238, 252, 1);
$color-white: rgba(255,255,255,1);